@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.maincont{
    width: 100%;
}
.container{
    width: 75%;
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 60px;
}
.search{
    display: inline-block;
}
li, a, button {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 1500;
    font-size: 18px;
    text-decoration: none;
}
header{
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    font-family: 'Ubuntu Mono', monospace;
    width: 140px;
    height: 40px;
    border-radius: 0 3px 3px 0;
    background-color: #1dbf73;
    font-size: 14px;
    font-weight: 700;
    color: white;
    padding: 4px 0px;
    border-radius: 4px;
    
}
h2{
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    margin-top: 40px;
    margin: 30px auto ;
    font-size: 20px;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    background-color:  #0ca15c;
}
.lproject{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-color: blanchedalmond;
    border-radius: 2px;
    background-color: #faf8f8;
    /* max-width: 250px; */
    max-height: 250px;
    min-height: 50px;
    min-width: 100%;

}
.projectcontainer{
    border: 2px red;
    margin:30px auto;
}
.viewlink a {
    margin:10px;
}