<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Project</title>
    <link rel="stylesheet" href="/static/css/authuser/newproject.css">
</head>
<body>
<div class="container">
    <div class="innercontainer">
        <h3>Fill Below Form to Create a new Project</h3>

        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <div class="form">

                <button class="button" type="submit">Post</button>
                <a href="{% url 'myproject' %}"> Cancle</a>
            </div>
            
        </form>
    </div>
</div>
</body>
</html>