<!DOCTYPE html>
<html>
<head>
	<title>About Us </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="/static/css/about.css">
</head>	
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>Find the talant to get your business growing</h3>
					<p>Skill Valley is new and  better way of working, helping businesses find more flexibility and connecting talent with more opportunities.<br>
<h3>Our mission to create economic opportunities so people have better lives has taken us so much further. As a result, we’ve become the world’s work marketplace where every day businesses of all sizes and independent talent from around the globe meet here to accomplish incredible things.</h3><br> Our work marketplace aligns the goals of our clients with the goals of talent on SkillValley so that outcomes are better and everyone grows in the same direction. Skill Valley is designed to  find the right tools to develop your skills, evolve your business, and gain the control and freedom you need for success.<br> <br><h2><strong>Who Should use Skill Valley?</strong></h2><br> The quick answer is anyone who wants a job with some kind of flexibility — remote, work from home, hybrid, part-time, freelance, or flexible schedule. </p>
					<div class="button">
						<a href="">Read More</a>
					</div>
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="image-section">
				<img src="/static/img/aboutus.jpg">
			</div>
		</div>
	</div>

	
</body>
</html>