<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="static/css/style.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <header>
        <img class="logo" src="static/img/skill.png" alt="skillvalley_logo">
        <nav>
            <ul class="nav_links">
                <li><a href="index">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="#">Services</a></li>
            </ul>
        </nav>
        <div class="btncontainer">

            <a class="cta" href="allusers/login"><button id="signin">Signin</button></a>
            <a class="cta" href="allusers/joinin"><button id="joinin">Join In</button></a>
        </div>
    </header>
    <div class="middleContainer">
        <div class="slogan">
            <h1>
                Project of Interset and Quality Service from Skilled People,<br>
                AnyTime Online
            </h1>
        </div>
        <div class="midbtnContainer">

            <a href="authuser/home">
                <button class="midbtn">
                    Find Project Of Interest
                </button>
            </a>
            <a href="authuser/project-create">
                <button class="midbtn">
                Post a Job
                </button>
            </a> 
        </div>
    </div>
    
    {% comment %} <hr style="width:94%;margin-left:25px;margin-top:175px;height:2px;border-width:0;background-color: #ae80c0;"> {% endcomment %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="about">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="contact">Contact</a></li>
                        
                    </ul>
                </div>
                
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
    </body>
    </html>
   