<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join Us</title>
  <link rel="stylesheet" href="/static/css/joinin.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />



</head>

<body>

  <div class="container">
    <div class="header">
      <h2>Create Account</h2>
    </div>
    <form id="form" class="form" action="joinin" method="POST">
      {% csrf_token %}
      <div class="form-control">
        <label for="firstname">First Name</label>
        <input type="text" placeholder="Enter your First name" id="firstname" name="firstname" required />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Error message</small>
      </div>
      <div class="form-control">
        <label for="lastname">Last Name</label>
        <input type="text" placeholder="Enter your Last name" id="lastname" name="lastname" required />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Error message</small>
      </div>
      <div class="form-control">
        <label for="username">Username</label>
        <input type="text" placeholder="Enter your username" id="username" name="username" required />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Error message</small>
        <div style="padding-top: 6px; color: red;">
          {% if messages %}
          {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="form-control">
        <label for="username">Email</label>
        <input type="email" placeholder="test@test.com" id="email" name="email" required />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Error message</small>
        <div style="padding-top: 6px; color: red;">
          {% if messages %}
          {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING%}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
          </div>
          {%endif%}
          {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="form-control">
        <label for="username">Password</label>
        <input type="password" placeholder="Password" id="password" name="password" required />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Error message</small>
      </div>
      <div class="form-control">
        <label for="username">Confirm Password</label>
        <input type="password" placeholder="Confirm Password " id="password2" name="password2" required />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Error message</small>
      </div>
      <button type="submit">Submit</button>
      <div class = "already">
        <h4 id="alreadymember"> Already a member ? <a href="login">Sign in </a></h4>
        <h4 id="alreadymember"> <a href="/index">Go Back </a></h4>
        
      </div>
    </form>
  </div>

  <script src="/static/scripts/joinin.js"></script>

</body>

</html>