<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/css/passwordreset.css">
</head>
<body>
    <div class="container">
        <div class="midcontainer">
            <div class="innercontainer">
                <img src="/static/img/skill.png" alt="skillvalley" height="70px" >
                    <h1>Your password has been reset</h1>
                    <p> <a href="/allusers/login">Click here</a> to Login to Your Account</p>
                
                
</body>
</html>