<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/css/passwordreset.css">
</head>
<body>
    <div class="container">
        <div class="midcontainer">
            <div class="innercontainer">
                <img src="/static/img/skill.png" alt="skillvalley" height="70px" >
                    <h1>Verify Your Email Address</h1>
                
                
                    <p>We now heed to verify your email address. We've sent an email to 
                    verify your email address.Please click the link in that email to continue</p>
                

                    
</body>
</html>