<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/css/passwordreset.css">
</head>
<body>
    <div class="container">
        <div class="midcontainer">
            <div class="innercontainer">
                <img src="/static/img/skill.png" alt="skillvalley" height="70px" >
                    <h1>Recover Your Account</h1>
                
                
                    <p>We can help you reset your password.First, enter your SkillValley account and follow the instructions below.</p>
                <div class="form">

                    <form method="POST">
                        {% csrf_token %}
                        <div class="email" id="id_form">
                            {{form}}
                        </div>
                    </div>
                    <div class="btn">
                        <button id="cancel_id"><a href="/">Cancel</a></button>
                        <button type="submit" id="submit_id">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("id_email").setAttribute("placeholder", "Your Email");
       
    </script>
</body>
</html>